.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 2278px;
}

.u-section-1 .u-text-1 {
  width: 726px;
  text-shadow: 11px 5px 8px rgba(255,0,0,0.4);
  animation-duration: 1000ms;
  font-family: "Days One";
  font-size: 3.75rem;
  background-image: none;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  width: 548px;
  font-family: "New Rocker";
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 16px auto 0;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-family: "Days One";
  margin: 20px 421px 0 465px;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto auto;
  margin: 20px auto 0 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
  min-height: 2387px;
}

.u-section-1 .u-list-item-1 {
  box-shadow: 11px 11px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-1 .u-image-1 {
  width: 320px;
  height: 354px;
  box-shadow: 13px 11px 20px 0 rgba(255,0,0,0.4);
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-1 {
  width: 285px;
  min-height: 323px;
  background-image: none;
  box-shadow: 13px 13px 20px 0 rgba(255,0,0,0.4);
  animation-duration: 1000ms;
  margin: -66px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 20px;
}

.u-section-1 .u-text-4 {
  text-transform: uppercase;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  font-family: "Days One";
  margin: 20px auto 0;
}

.u-section-1 .u-text-5 {
  letter-spacing: 1px;
  font-weight: 700;
  font-family: "New Rocker";
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 16px auto 0;
}

.u-section-1 .u-text-6 {
  font-size: 1rem;
  background-image: none;
  width: 168px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 26px auto 0;
}

.u-section-1 .u-list-icon-1 {
  color: currentcolor !important;
}

.u-section-1 .u-list-icon-2 {
  color: currentcolor !important;
}

.u-section-1 .u-list-icon-3 {
  color: currentcolor !important;
}

.u-section-1 .u-list-icon-4 {
  color: currentcolor !important;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 23px;
  min-height: 16px;
  width: 122px;
  min-width: 94px;
  margin: 60px auto 0;
}

.u-section-1 .u-icon-1 {
  height: 100%;
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-icon-2 {
  height: 100%;
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-icon-3 {
  height: 100%;
  color: rgb(0, 230, 118) !important;
}

.u-section-1 .u-icon-4 {
  height: 100%;
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-list-item-2 {
  box-shadow: 11px 11px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 30px 0;
}

.u-section-1 .u-image-2 {
  width: 320px;
  height: 354px;
  box-shadow: 13px 11px 20px 0 rgba(255,0,0,0.4);
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-2 {
  width: 285px;
  min-height: 323px;
  background-image: none;
  box-shadow: 13px 13px 20px 0 rgba(255,0,0,0.4);
  animation-duration: 1000ms;
  margin: -66px auto 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 20px;
}

.u-section-1 .u-text-7 {
  text-transform: uppercase;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  font-family: "Days One";
  margin: 20px auto 0;
}

.u-section-1 .u-text-8 {
  letter-spacing: 1px;
  font-weight: 700;
  font-family: "New Rocker";
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 16px auto 0;
}

.u-section-1 .u-text-9 {
  font-size: 1rem;
  background-image: none;
  width: 168px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 26px auto 0;
}

.u-section-1 .u-list-icon-5 {
  color: currentcolor !important;
}

.u-section-1 .u-list-icon-6 {
  color: currentcolor !important;
}

.u-section-1 .u-list-icon-7 {
  color: currentcolor !important;
}

.u-section-1 .u-list-icon-8 {
  color: currentcolor !important;
}

.u-section-1 .u-social-icons-2 {
  white-space: nowrap;
  height: 23px;
  min-height: 16px;
  width: 122px;
  min-width: 94px;
  margin: 60px auto 0;
}

.u-section-1 .u-icon-5 {
  height: 100%;
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-icon-6 {
  height: 100%;
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-icon-7 {
  height: 100%;
  color: rgb(0, 230, 118) !important;
}

.u-section-1 .u-icon-8 {
  height: 100%;
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-list-item-3 {
  box-shadow: 11px 11px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 30px 0;
}

.u-section-1 .u-image-3 {
  width: 320px;
  height: 354px;
  box-shadow: 13px 11px 20px 0 rgba(255,0,0,0.4);
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-3 {
  width: 285px;
  min-height: 323px;
  background-image: none;
  box-shadow: 13px 13px 20px 0 rgba(255,0,0,0.4);
  animation-duration: 1000ms;
  margin: -66px auto 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 0 20px;
}

.u-section-1 .u-text-10 {
  text-transform: uppercase;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  font-family: "Days One";
  margin: 20px auto 0;
}

.u-section-1 .u-text-11 {
  letter-spacing: 1px;
  font-weight: 700;
  font-family: "New Rocker";
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 16px auto 0;
}

.u-section-1 .u-text-12 {
  font-size: 1rem;
  background-image: none;
  width: 168px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 26px auto 0;
}

.u-section-1 .u-list-icon-9 {
  color: currentcolor !important;
}

.u-section-1 .u-list-icon-10 {
  color: currentcolor !important;
}

.u-section-1 .u-list-icon-11 {
  color: currentcolor !important;
}

.u-section-1 .u-list-icon-12 {
  color: currentcolor !important;
}

.u-section-1 .u-social-icons-3 {
  white-space: nowrap;
  height: 23px;
  min-height: 16px;
  width: 122px;
  min-width: 94px;
  margin: 60px auto 0;
}

.u-section-1 .u-icon-9 {
  height: 100%;
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-icon-10 {
  height: 100%;
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-icon-11 {
  height: 100%;
  color: rgb(0, 230, 118) !important;
}

.u-section-1 .u-icon-12 {
  height: 100%;
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-list-item-4 {
  box-shadow: 11px 11px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px 30px 0;
}

.u-section-1 .u-image-4 {
  width: 320px;
  height: 354px;
  box-shadow: 13px 11px 20px 0 rgba(255,0,0,0.4);
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-4 {
  width: 285px;
  min-height: 323px;
  background-image: none;
  box-shadow: 13px 13px 20px 0 rgba(255,0,0,0.4);
  animation-duration: 1000ms;
  margin: -66px auto 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 0 20px;
}

.u-section-1 .u-text-13 {
  text-transform: uppercase;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  font-family: "Days One";
  margin: 20px auto 0;
}

.u-section-1 .u-text-14 {
  letter-spacing: 1px;
  font-weight: 700;
  font-family: "New Rocker";
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 16px auto 0;
}

.u-section-1 .u-text-15 {
  font-size: 1rem;
  background-image: none;
  width: 168px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 26px auto 0;
}

.u-section-1 .u-list-icon-13 {
  color: currentcolor !important;
}

.u-section-1 .u-list-icon-14 {
  color: currentcolor !important;
}

.u-section-1 .u-list-icon-15 {
  color: currentcolor !important;
}

.u-section-1 .u-list-icon-16 {
  color: currentcolor !important;
}

.u-section-1 .u-social-icons-4 {
  white-space: nowrap;
  height: 23px;
  min-height: 16px;
  width: 122px;
  min-width: 94px;
  margin: 60px auto 0;
}

.u-section-1 .u-icon-13 {
  height: 100%;
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-icon-14 {
  height: 100%;
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-icon-15 {
  height: 100%;
  color: rgb(0, 230, 118) !important;
}

.u-section-1 .u-icon-16 {
  height: 100%;
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-list-item-5 {
  box-shadow: 11px 11px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px 30px 0;
}

.u-section-1 .u-image-5 {
  width: 320px;
  height: 354px;
  box-shadow: 13px 11px 20px 0 rgba(255,0,0,0.4);
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-5 {
  width: 285px;
  min-height: 323px;
  background-image: none;
  box-shadow: 13px 13px 20px 0 rgba(255,0,0,0.4);
  animation-duration: 1000ms;
  margin: -66px auto 0;
}

.u-section-1 .u-container-layout-10 {
  padding: 0 20px;
}

.u-section-1 .u-text-16 {
  text-transform: uppercase;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  font-family: "Days One";
  margin: 20px auto 0;
}

.u-section-1 .u-text-17 {
  letter-spacing: 1px;
  font-weight: 700;
  font-family: "New Rocker";
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 16px auto 0;
}

.u-section-1 .u-text-18 {
  font-size: 1rem;
  background-image: none;
  width: 168px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 26px auto 0;
}

.u-section-1 .u-list-icon-17 {
  color: currentcolor !important;
}

.u-section-1 .u-list-icon-18 {
  color: currentcolor !important;
}

.u-section-1 .u-list-icon-19 {
  color: currentcolor !important;
}

.u-section-1 .u-list-icon-20 {
  color: currentcolor !important;
}

.u-section-1 .u-social-icons-5 {
  white-space: nowrap;
  height: 23px;
  min-height: 16px;
  width: 122px;
  min-width: 94px;
  margin: 60px auto 0;
}

.u-section-1 .u-icon-17 {
  height: 100%;
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-icon-18 {
  height: 100%;
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-icon-19 {
  height: 100%;
  color: rgb(0, 230, 118) !important;
}

.u-section-1 .u-icon-20 {
  height: 100%;
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-list-item-6 {
  box-shadow: 11px 11px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-11 {
  padding: 30px 30px 0;
}

.u-section-1 .u-image-6 {
  width: 320px;
  height: 354px;
  box-shadow: 13px 11px 20px 0 rgba(255,0,0,0.4);
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-6 {
  width: 285px;
  min-height: 323px;
  background-image: none;
  box-shadow: 13px 13px 20px 0 rgba(255,0,0,0.4);
  animation-duration: 1000ms;
  margin: -66px auto 0;
}

.u-section-1 .u-container-layout-12 {
  padding: 0 20px;
}

.u-section-1 .u-text-19 {
  text-transform: uppercase;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  font-family: "Days One";
  margin: 20px auto 0;
}

.u-section-1 .u-text-20 {
  letter-spacing: 1px;
  font-weight: 700;
  font-family: "New Rocker";
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 16px auto 0;
}

.u-section-1 .u-text-21 {
  font-size: 1rem;
  background-image: none;
  width: 168px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 26px auto 0;
}

.u-section-1 .u-list-icon-21 {
  color: currentcolor !important;
}

.u-section-1 .u-list-icon-22 {
  color: currentcolor !important;
}

.u-section-1 .u-list-icon-23 {
  color: currentcolor !important;
}

.u-section-1 .u-list-icon-24 {
  color: currentcolor !important;
}

.u-section-1 .u-social-icons-6 {
  white-space: nowrap;
  height: 23px;
  min-height: 16px;
  width: 122px;
  min-width: 94px;
  margin: 60px auto 0;
}

.u-section-1 .u-icon-21 {
  height: 100%;
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-icon-22 {
  height: 100%;
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-icon-23 {
  height: 100%;
  color: rgb(0, 230, 118) !important;
}

.u-section-1 .u-icon-24 {
  height: 100%;
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-list-item-7 {
  box-shadow: 11px 11px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-13 {
  padding: 30px 30px 0;
}

.u-section-1 .u-image-7 {
  width: 320px;
  height: 354px;
  box-shadow: 13px 11px 20px 0 rgba(255,0,0,0.4);
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-7 {
  width: 285px;
  min-height: 323px;
  background-image: none;
  box-shadow: 13px 13px 20px 0 rgba(255,0,0,0.4);
  animation-duration: 1000ms;
  margin: -66px auto 0;
}

.u-section-1 .u-container-layout-14 {
  padding: 0 20px;
}

.u-section-1 .u-text-22 {
  text-transform: uppercase;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  font-family: "Days One";
  margin: 20px auto 0;
}

.u-section-1 .u-text-23 {
  letter-spacing: 1px;
  font-weight: 700;
  font-family: "New Rocker";
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 16px auto 0;
}

.u-section-1 .u-text-24 {
  font-size: 1rem;
  background-image: none;
  width: 168px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 26px auto 0;
}

.u-section-1 .u-list-icon-25 {
  color: currentcolor !important;
}

.u-section-1 .u-list-icon-26 {
  color: currentcolor !important;
}

.u-section-1 .u-list-icon-27 {
  color: currentcolor !important;
}

.u-section-1 .u-list-icon-28 {
  color: currentcolor !important;
}

.u-section-1 .u-social-icons-7 {
  white-space: nowrap;
  height: 23px;
  min-height: 16px;
  width: 122px;
  min-width: 94px;
  margin: 60px auto 0;
}

.u-section-1 .u-icon-25 {
  height: 100%;
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-icon-26 {
  height: 100%;
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-icon-27 {
  height: 100%;
  color: rgb(0, 230, 118) !important;
}

.u-section-1 .u-icon-28 {
  height: 100%;
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-list-item-8 {
  box-shadow: 11px 11px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-15 {
  padding: 30px 30px 0;
}

.u-section-1 .u-image-8 {
  width: 320px;
  height: 354px;
  box-shadow: 13px 11px 20px 0 rgba(255,0,0,0.4);
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-8 {
  width: 285px;
  min-height: 323px;
  background-image: none;
  box-shadow: 13px 13px 20px 0 rgba(255,0,0,0.4);
  animation-duration: 1000ms;
  margin: -66px auto 0;
}

.u-section-1 .u-container-layout-16 {
  padding: 0 20px;
}

.u-section-1 .u-text-25 {
  text-transform: uppercase;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  font-family: "Days One";
  margin: 20px auto 0;
}

.u-section-1 .u-text-26 {
  letter-spacing: 1px;
  font-weight: 700;
  font-family: "New Rocker";
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 16px auto 0;
}

.u-section-1 .u-text-27 {
  font-size: 1rem;
  background-image: none;
  width: 168px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 26px auto 0;
}

.u-section-1 .u-list-icon-29 {
  color: currentcolor !important;
}

.u-section-1 .u-list-icon-30 {
  color: currentcolor !important;
}

.u-section-1 .u-list-icon-31 {
  color: currentcolor !important;
}

.u-section-1 .u-list-icon-32 {
  color: currentcolor !important;
}

.u-section-1 .u-social-icons-8 {
  white-space: nowrap;
  height: 23px;
  min-height: 16px;
  width: 122px;
  min-width: 94px;
  margin: 60px auto 0;
}

.u-section-1 .u-icon-29 {
  height: 100%;
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-icon-30 {
  height: 100%;
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-icon-31 {
  height: 100%;
  color: rgb(0, 230, 118) !important;
}

.u-section-1 .u-icon-32 {
  height: 100%;
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-list-item-9 {
  box-shadow: 11px 11px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-17 {
  padding: 30px 30px 0;
}

.u-section-1 .u-image-9 {
  width: 320px;
  height: 354px;
  box-shadow: 13px 11px 20px 0 rgba(255,0,0,0.4);
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-9 {
  width: 285px;
  min-height: 323px;
  background-image: none;
  box-shadow: 13px 13px 20px 0 rgba(255,0,0,0.4);
  animation-duration: 1000ms;
  margin: -66px auto 0;
}

.u-section-1 .u-container-layout-18 {
  padding: 0 20px;
}

.u-section-1 .u-text-28 {
  text-transform: uppercase;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  font-family: "Days One";
  margin: 20px auto 0;
}

.u-section-1 .u-text-29 {
  letter-spacing: 1px;
  font-weight: 700;
  font-family: "New Rocker";
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 16px auto 0;
}

.u-section-1 .u-text-30 {
  font-size: 1rem;
  background-image: none;
  width: 168px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 26px auto 0;
}

.u-section-1 .u-list-icon-33 {
  color: currentcolor !important;
}

.u-section-1 .u-list-icon-34 {
  color: currentcolor !important;
}

.u-section-1 .u-list-icon-35 {
  color: currentcolor !important;
}

.u-section-1 .u-list-icon-36 {
  color: currentcolor !important;
}

.u-section-1 .u-social-icons-9 {
  white-space: nowrap;
  height: 23px;
  min-height: 16px;
  width: 122px;
  min-width: 94px;
  margin: 60px auto 0;
}

.u-section-1 .u-icon-33 {
  height: 100%;
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-icon-34 {
  height: 100%;
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-icon-35 {
  height: 100%;
  color: rgb(0, 230, 118) !important;
}

.u-section-1 .u-icon-36 {
  height: 100%;
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-list-item-10 {
  box-shadow: 11px 11px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-19 {
  padding: 30px 30px 0;
}

.u-section-1 .u-image-10 {
  width: 320px;
  height: 354px;
  box-shadow: 13px 11px 20px 0 rgba(255,0,0,0.4);
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-10 {
  width: 285px;
  min-height: 323px;
  background-image: none;
  box-shadow: 13px 13px 20px 0 rgba(255,0,0,0.4);
  animation-duration: 1000ms;
  margin: -66px auto 0;
}

.u-section-1 .u-container-layout-20 {
  padding: 0 20px;
}

.u-section-1 .u-text-31 {
  text-transform: uppercase;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  font-family: "Days One";
  margin: 20px auto 0;
}

.u-section-1 .u-text-32 {
  letter-spacing: 1px;
  font-weight: 700;
  font-family: "New Rocker";
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 16px auto 0;
}

.u-section-1 .u-text-33 {
  font-size: 1rem;
  background-image: none;
  width: 168px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 26px auto 0;
}

.u-section-1 .u-list-icon-37 {
  color: currentcolor !important;
}

.u-section-1 .u-list-icon-38 {
  color: currentcolor !important;
}

.u-section-1 .u-list-icon-39 {
  color: currentcolor !important;
}

.u-section-1 .u-list-icon-40 {
  color: currentcolor !important;
}

.u-section-1 .u-social-icons-10 {
  white-space: nowrap;
  height: 23px;
  min-height: 16px;
  width: 122px;
  min-width: 94px;
  margin: 60px auto 0;
}

.u-section-1 .u-icon-37 {
  height: 100%;
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-icon-38 {
  height: 100%;
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-icon-39 {
  height: 100%;
  color: rgb(0, 230, 118) !important;
}

.u-section-1 .u-icon-40 {
  height: 100%;
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-list-item-11 {
  box-shadow: 11px 11px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-21 {
  padding: 30px 30px 0;
}

.u-section-1 .u-image-11 {
  width: 320px;
  height: 354px;
  box-shadow: 13px 11px 20px 0 rgba(255,0,0,0.4);
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-11 {
  width: 285px;
  min-height: 323px;
  background-image: none;
  box-shadow: 13px 13px 20px 0 rgba(255,0,0,0.4);
  animation-duration: 1000ms;
  margin: -66px auto 0;
}

.u-section-1 .u-container-layout-22 {
  padding: 0 20px;
}

.u-section-1 .u-text-34 {
  text-transform: uppercase;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  font-family: "Days One";
  margin: 20px auto 0;
}

.u-section-1 .u-text-35 {
  letter-spacing: 1px;
  font-weight: 700;
  font-family: "New Rocker";
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 16px auto 0;
}

.u-section-1 .u-text-36 {
  font-size: 1rem;
  background-image: none;
  width: 168px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 26px auto 0;
}

.u-section-1 .u-list-icon-41 {
  color: currentcolor !important;
}

.u-section-1 .u-list-icon-42 {
  color: currentcolor !important;
}

.u-section-1 .u-list-icon-43 {
  color: currentcolor !important;
}

.u-section-1 .u-list-icon-44 {
  color: currentcolor !important;
}

.u-section-1 .u-social-icons-11 {
  white-space: nowrap;
  height: 23px;
  min-height: 16px;
  width: 122px;
  min-width: 94px;
  margin: 60px auto 0;
}

.u-section-1 .u-icon-41 {
  height: 100%;
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-icon-42 {
  height: 100%;
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-icon-43 {
  height: 100%;
  color: rgb(0, 230, 118) !important;
}

.u-section-1 .u-icon-44 {
  height: 100%;
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-list-item-12 {
  box-shadow: 11px 11px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-23 {
  padding: 30px 30px 0;
}

.u-section-1 .u-image-12 {
  width: 320px;
  height: 354px;
  box-shadow: 13px 11px 20px 0 rgba(255,0,0,0.4);
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-12 {
  width: 285px;
  min-height: 323px;
  background-image: none;
  box-shadow: 13px 13px 20px 0 rgba(255,0,0,0.4);
  animation-duration: 1000ms;
  margin: -66px auto 0;
}

.u-section-1 .u-container-layout-24 {
  padding: 0 20px;
}

.u-section-1 .u-text-37 {
  text-transform: uppercase;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  font-family: "Days One";
  margin: 20px auto 0;
}

.u-section-1 .u-text-38 {
  letter-spacing: 1px;
  font-weight: 700;
  font-family: "New Rocker";
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 16px auto 0;
}

.u-section-1 .u-text-39 {
  font-size: 1rem;
  background-image: none;
  width: 168px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 26px auto 0;
}

.u-section-1 .u-list-icon-45 {
  color: currentcolor !important;
}

.u-section-1 .u-list-icon-46 {
  color: currentcolor !important;
}

.u-section-1 .u-list-icon-47 {
  color: currentcolor !important;
}

.u-section-1 .u-list-icon-48 {
  color: currentcolor !important;
}

.u-section-1 .u-social-icons-12 {
  white-space: nowrap;
  height: 23px;
  min-height: 16px;
  width: 122px;
  min-width: 94px;
  margin: 60px auto 0;
}

.u-section-1 .u-icon-45 {
  height: 100%;
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-icon-46 {
  height: 100%;
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-icon-47 {
  height: 100%;
  color: rgb(0, 230, 118) !important;
}

.u-section-1 .u-icon-48 {
  height: 100%;
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  font-weight: 700;
  font-family: "Days One";
  margin: 29px auto 51px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 798px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 365px;
    margin-right: 321px;
  }

  .u-section-1 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 1968px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-1 {
    margin-top: 8px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-2 {
    margin-top: 8px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-3 {
    margin-top: 8px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-4 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-4 {
    margin-top: 8px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-5 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-5 {
    margin-top: 8px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-6 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-6 {
    margin-top: 8px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-7 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-7 {
    margin-top: 8px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-8 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-8 {
    margin-top: 8px;
  }

  .u-section-1 .u-container-layout-17 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-9 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-9 {
    margin-top: 8px;
  }

  .u-section-1 .u-container-layout-19 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-10 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-10 {
    margin-top: 8px;
  }

  .u-section-1 .u-container-layout-21 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-11 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-11 {
    margin-top: 8px;
  }

  .u-section-1 .u-container-layout-23 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-12 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-12 {
    margin-top: 8px;
  }

  .u-section-1 .u-btn-1 {
    padding: 10px 66px 10px 65px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1145px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 255px;
    margin-right: 211px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    min-height: 3392px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2401px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 165px;
    margin-right: 121px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 495px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    height: 495px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    height: 495px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-4 {
    height: 495px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-5 {
    height: 495px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-6 {
    height: 495px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-7 {
    height: 495px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-8 {
    height: 495px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-17 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-9 {
    height: 495px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-18 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-19 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-10 {
    height: 495px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-20 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-21 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-11 {
    height: 495px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-22 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-23 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-12 {
    height: 495px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-24 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2127px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 65px;
    margin-right: 21px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-1 {
    height: 349px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    margin-top: -51px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-2 {
    height: 349px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-2 {
    margin-top: -51px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-3 {
    height: 349px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-3 {
    margin-top: -51px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-4 {
    height: 349px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-4 {
    margin-top: -51px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-5 {
    height: 349px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-5 {
    margin-top: -51px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-6 {
    height: 349px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-6 {
    margin-top: -51px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-7 {
    height: 349px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-7 {
    margin-top: -51px;
  }

  .u-section-1 .u-container-layout-14 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-8 {
    height: 349px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-8 {
    margin-top: -51px;
  }

  .u-section-1 .u-container-layout-16 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-17 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-9 {
    height: 349px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-9 {
    margin-top: -51px;
  }

  .u-section-1 .u-container-layout-18 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-19 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-10 {
    height: 349px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-10 {
    margin-top: -51px;
  }

  .u-section-1 .u-container-layout-20 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-21 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-11 {
    height: 349px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-11 {
    margin-top: -51px;
  }

  .u-section-1 .u-container-layout-22 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-23 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-12 {
    height: 349px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-12 {
    margin-top: -51px;
  }

  .u-section-1 .u-container-layout-24 {
    padding-left: 20px;
    padding-right: 20px;
  }
}